<td class="table-cell">{{item.id}}</td>
<td class="table-cell">{{item.product}}</td>
<td class="table-cell">{{item.price}}</td>
<td class="table-cell">{{item.quantity}}</td>
<!-- agregamos boton de con una x para eliminar -->
<td class="table-cell">
  <!-- asignamos un evento al boton que ejecutara un metodo de la clase row-item onRemove
  pasando el id como argumento para su eliminacion -->
  <button
    class="btn btn-outline btn-error btn-circle btn-sm"
    (click)="onRemove(item.id)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</td>
