<div class="container mx-auto">
  <div class="card my-4 border rounded-t-2xl">
    <div class="card-title border-b px-8 py-4">
      <h2 class="text-2xl">Ejemplo factura</h2>
    </div>
    <div class="card-body space-y-2">

      <!-- pegamos el selector del componente invoice-view
      y pasamos los valores al id y name que vienen desde el padre al hijo
      mediante variables creadas en invoice.view-->
      <app-invoice-view [id]="invoice.id" [name]="invoice.name"></app-invoice-view>

      <div class="flex w-full space-x-6">
        <div class="flex-col flex-grow">

          <!-- pegamos selector y pasamos el cliente que viene desde el padre al hijo -->
          <app-client-view [client]="invoice.client"></app-client-view>

        </div>
        <div class="flex-col flex-grow">
          <app-company-view [company]="invoice.company"></app-company-view>
        </div>
      </div>

      <div>
        <!-- recibimos el valor pasado desde el hijo en un metodo removeItem($event) el que contiene el valor del id traspasado -->
        <app-list-items [items]="invoice.items" (removeEventEmitter)="removeItem($event)"></app-list-items>
      </div>
      <div class="border rounded-2xl w-24 h-8 ml-auto flex justify-center items-center">
        <!-- misma manera de agregar e selector del componente pero sin etiqueta de cierre -->
        <app-total [total]="invoice.total"/>
      </div>
    </div>

  </div>
</div>
